body {
  background: url(./pictures/background.jpg);
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5em;
  background-size: cover;
  background-repeat: no-repeat;
}
.inner_main_menu {
  margin: 0 auto;
  width: 700px;
}
.inner_main_menu ul {
  margin: 10;
  padding: 80px 0 0;
  list-style: none;
  text-align: right;
}
.inner_main_menu ul li {
  float: none;
  display: inline-block;
  position: relative;
}
.inner_main_menu ul li:nth-child(1) {
  float: left;
}
.inner_main_menu ul li:nth-child(2) {
  float: left;
}
.inner_main_menu ul li a {
  color: #e6e6e6;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}
.inner_main_menu ul li a:hover {
  color: #18300f;
}
.inner_main_menu ul li ul {
  position: absolute;
  top: 40px;
  left: -9999999px;
  width: 200px;
  background: #262626;
  padding: 0;
}
.inner_main_menu ul li:hover ul {
  left: 0px;
}
.inner_main_menu ul li ul li {
  float: left;
  width: 100%;
  text-align: left;
}
.inner_main_menu ul li ul li a {
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
}
.inner_main_menu ul li ul li a:hover {
  background: #ddd;
  color: #262626;
}
.inner_main_menu ul li ul li ul {
  top: 0;
  left: -999999px;
}
.inner_main_menu ul li:hover ul li ul {
  top: 0;
  left: -999999px;
}
.inner_main_menu ul li ul li:hover ul {
  top: 0;
  left: 200px;
}
.inner_main_menu ul li:hover a {
  color: #429123;
}
.inner_main_menu ul li:hover ul li a {
  color: #ffffff;
}
.inner_main_menu ul li ul li a:hover {
  color: #262626;
}
.inner_main_menu ul li ul li:hover a {
  background: #ddd;
  color: #262626;
}
.inner_main_menu ul li ul li:hover ul li a {
  background: #262626;
  color: #fff;
}
.inner_main_menu ul li ul li ul li a:hover {
  background: #ddd;
  color: #262626;
}
#main_menu {
  width: 100%;
  position: relative;
}
.logo_area {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  margin-left: -150px;
  text-align: center;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .inner_main_menu {
    display: none;
  }
  .logo_area {
    height: auto;
    left: 0;
    margin-left: 0;
    position: relative;
    top: 0;
    width: 130px;
  }
  .logo_area img {
    height: auto;
    width: 100%;
  }
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 18em;
}

.loader {
  position: relative;
}

.loader::before,
.loader::after {
  content: "";
  width: 1.8em;
  height: 1.8em;
  position: absolute;
  border-radius: 4em;
}

.loader::before {
  background: rgb(5, 151, 54);
  left: 0;
  /*add space bewteen the 2 circles*/
  transform: translateX(10px);
  animation: SlideLeft 1s ease infinite;
}

.loader::after {
  background: rgb(44, 43, 42);
  right: 0;
  /*add space bewteen the 2 circles*/
  transform: translateX(-10px);
  /*add the animation in the pseudoselector*/
  animation: SlideRight 1s ease infinite;
}

@keyframes SlideRight {
  0% {
    /*initial position of the after selector*/
    transform: translateX(-10px);
  }

  50% {
    /*translate it 10px so they overlap +fade effect when overlaping*/
    transform: translateX(10px);
    background: rgba(44, 43, 42, 0.726);
  }

  100% {
    /*back to the original position*/
    transform: translateX(-10px);
  }
}

@keyframes SlideLeft {
  0% {
    /*initial position of the before selector*/
    transform: translateX(10px);
  }

  50% {
    /*translate it 10px so they overlap*/
    transform: translateX(-10px);
    background: rgba(5, 151, 54, 0.822);
  }

  100% {
    /*back to the original position*/
    transform: translateX(10px);
  }
}
